body {
    font-family: 'Roboto', sans-serif;
    width: 1800px;
}

.hero-text{
    font-size: 18px;
    color: #F9FAF8;
}

ul{
    font-size: 16px;
}

li{
    display: inline;
    list-style-type: none;
    padding: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header{
   background-color: #1F2937;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 80px;
}
